html {
  font-size: 62.5%; }

h1, h2, h3, p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #887f69; }

a:hover {
  color: #afa282; }

.radius2 {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; }

.radius4 {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.radius6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px; }

.radius8 {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px; }

body {
  background-color: #f9f8f6; }

.container {
  width: 94%; }

.flexbox {
  display: -webkit-flex;
  display: flex; }

.space-between {
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  /* Safari */
  flex-wrap: wrap; }

/* ----------------- header ----------------- */
header .container {
  padding-top: 30px; }
  header .container .logo {
    text-align: center;
    margin-bottom: 20px; }
  header .container .navi {
    text-align: center;
    margin-bottom: 15px; }
    header .container .navi .sp_navi {
      width: 60%;
      list-style: none;
      margin: 0 auto; }
      header .container .navi .sp_navi li {
        display: inline-block;
        padding: 0 2%;
        width: 15%;
        height: auto; }
        header .container .navi .sp_navi li button {
          border: none;
          margin: 0;
          padding: 0; }
    header .container .navi .pc_navi {
      display: none; }

#sp_navi_detail {
  display: none;
  background-color: #ff6d77;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 1em; }
  #sp_navi_detail ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #sp_navi_detail ul li a {
      display: block;
      color: #fff;
      padding: 1em 0;
      margin: 0;
      border-bottom: 1px solid #fff;
      text-decoration: none; }
    #sp_navi_detail ul li:last-child a {
      border-bottom: none;
      padding: 1em 0 0; }

/* ------- header PC ------- */
@media (min-width: 550px) {
  header .container .logo {
    text-align: left;
    padding-top: 10px;
    margin-bottom: 0; }
  header .container .navi {
    text-align: right;
    padding-top: 30px;
    margin-bottom: 0; }
    header .container .navi .pc_navi {
      list-style: none;
      display: block; }
      header .container .navi .pc_navi li {
        display: inline-block;
        padding-left: 18px; }
      header .container .navi .pc_navi li:first-child {
        padding-left: 0; }
      header .container .navi .pc_navi li:last-child {
        padding-left: 5px; }
    header .container .navi .sp_navi, header .container .navi #sp_navi_detail {
      display: none; } }
/* ------- header PC ------- */
/* ----------------- header ----------------- */
/* --------------- breadthumb --------------- */
.breadthumb {
  background-color: #e8e4da;
  font-size: 12px;
  font-size: 1.2rem; }
  .breadthumb ul {
    list-style: none;
    padding: 10px 6px 6px 15px; }
    .breadthumb ul li {
      display: inline-block;
      padding-left: 5px;
      margin: 0;
      line-height: 1em; }
    .breadthumb ul li.home {
      padding-left: 20px;
      background: url("../images/list/icon_home.png") no-repeat;
      background-size: 14px; }

/* --------------- breadthumb --------------- */
/* --------------- contents_area --------------- */
#new_item h2, #popular_item h2, #shopping_guide h2, #recent_item h2 {
  width: 100%;
  height: 60px;
  padding: 0; }

#new_item h2 {
  width: 35%;
  margin: 20px auto 0; }

#popular_item h2 {
  width: 50%;
  margin: 30px auto 0; }

#shopping_guide h2 {
  width: 55%;
  margin: 30px auto 0; }

#recent_item h2 {
  width: 32%;
  margin: 30px auto 0; }

#new_item .flexbox .item_inner, #popular_item .flexbox .item_inner, #shopping_guide .flexbox .item_inner, #recent_item .flexbox .item_inner {
  width: 49.6%;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 4px; }
  #new_item .flexbox .item_inner .post p, #popular_item .flexbox .item_inner .post p, #shopping_guide .flexbox .item_inner .post p, #recent_item .flexbox .item_inner .post p {
    padding-top: 1.6rem;
    font-size: 12px;
    font-size: 1.2rem;
    margin: 0; }
    #new_item .flexbox .item_inner .post p span, #popular_item .flexbox .item_inner .post p span, #shopping_guide .flexbox .item_inner .post p span, #recent_item .flexbox .item_inner .post p span {
      display: block;
      padding: 1em 0 0; }

#shopping_guide .flexbox .guide_inner {
  width: 100%;
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
  margin-bottom: 10px; }
  #shopping_guide .flexbox .guide_inner h3 {
    color: #887f69;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    font-weight: bold;
    padding-bottom: 15px; }
  #shopping_guide .flexbox .guide_inner p {
    margin: 0;
    padding-bottom: 10px; }
  #shopping_guide .flexbox .guide_inner dl {
    list-style: none;
    margin: 0; }
    #shopping_guide .flexbox .guide_inner dl dt {
      color: #887f69;
      font-size: 12px;
      font-size: 1.2rem;
      font-weight: bold;
      padding-bottom: 0.5em; }
    #shopping_guide .flexbox .guide_inner dl dd {
      color: #000;
      font-size: 12px;
      font-size: 1.2rem;
      font-weight: normal;
      margin: 0;
      padding-bottom: 1em; }
    #shopping_guide .flexbox .guide_inner dl dd.credit {
      margin: 0;
      box-sizing: border-box; }
      #shopping_guide .flexbox .guide_inner dl dd.credit img {
        width: 19%; }
    #shopping_guide .flexbox .guide_inner dl dd:last-child {
      padding-bottom: 0; }

/* ----- contents_area PC ----- */
@media (min-width: 550px) {
  #new_item h2, #popular_item h2, #recent_item h2, #shopping_guide h2 {
    width: 100%;
    height: 60px;
    padding: 0; }

  #new_item h2 {
    margin: 0 auto; }

  #popular_item h2 {
    margin: 20px auto 0; }

  #shopping_guide h2 {
    margin: 20px auto 0; }

  #recent_item h2 {
    margin: 20px auto 0; }

  #new_item .flexbox .item_inner, #popular_item .flexbox .item_inner, #recent_item .flexbox .item_inner {
    width: 32.9%;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px; }
    #new_item .flexbox .item_inner .post p, #popular_item .flexbox .item_inner .post p, #recent_item .flexbox .item_inner .post p {
      font-size: 12px;
      font-size: 1.2rem;
      padding-top: 1.6em;
      margin: 0; }
      #new_item .flexbox .item_inner .post p span, #popular_item .flexbox .item_inner .post p span, #recent_item .flexbox .item_inner .post p span {
        display: block;
        padding: 2rem 0 0; }

  #shopping_guide .flexbox .guide_inner {
    width: 49.5%;
    padding: 25px 20px;
    box-sizing: border-box;
    margin-bottom: 20px; }
    #shopping_guide .flexbox .guide_inner h3 {
      font-size: 16px;
      font-size: 1.6rem; }
    #shopping_guide .flexbox .guide_inner dl {
      margin: 0; }
      #shopping_guide .flexbox .guide_inner dl dt {
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold; }
      #shopping_guide .flexbox .guide_inner dl dd {
        color: #000;
        font-size: 12px;
        font-size: 1.2rem;
        margin: 0; }
      #shopping_guide .flexbox .guide_inner dl dd.credit {
        margin: 0;
        box-sizing: border-box; }
        #shopping_guide .flexbox .guide_inner dl dd.credit img {
          width: 58px; } }
/* ----- contents_area PC ----- */
/* --------------- contents_area --------------- */
/* ---- pagenation ---- */
.pagenation {
  margin-top: 20px; }
  .pagenation .next, .pagenation .back {
    width: 40%;
    background-color: #887f69; }
    .pagenation .next a, .pagenation .back a {
      display: block;
      padding: 20px 10px;
      margin: 0;
      text-align: center; }
      .pagenation .next a img, .pagenation .back a img {
        width: 40%; }

@media (min-width: 550px) {
  .pagenation {
    margin-top: 20px; }
    .pagenation .next, .pagenation .back {
      width: 122px; }
      .pagenation .next a, .pagenation .back a {
        display: block;
        padding: 15px 20px;
        margin: 0;
        text-align: center; }
        .pagenation .next a img, .pagenation .back a img {
          width: 50%; } }
/* ---- pagenation ---- */
/* ---------------- subnavi ---------------- */
#search, #link, #category, #about, #info {
  margin-bottom: 15px;
  background-color: #fff;
  font-size: 12px;
  font-size: 1.2rem; }
  #search h3, #link h3, #category h3, #about h3, #info h3 {
    background-color: #887f69;
    font-size: 1rem; }

#about .innerbox, #info .innerbox {
  padding: 2rem;
  margin: 0; }
  #about .innerbox figure, #info .innerbox figure {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
    #about .innerbox figure img, #info .innerbox figure img {
      width: 50%;
      float: left; }
  #about .innerbox .cap, #info .innerbox .cap {
    width: 50%;
    padding-left: 20px;
    float: left;
    box-sizing: border-box; }
    #about .innerbox .cap .more_btn, #info .innerbox .cap .more_btn {
      width: 80%;
      background-color: #887f69;
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: bold;
      -moz-border-radius: 2rem;
      -webkit-border-radius: 2rem;
      border-radius: 2rem;
      margin-top: 20px; }
      #about .innerbox .cap .more_btn a, #info .innerbox .cap .more_btn a {
        display: block;
        text-decoration: none;
        color: #fff;
        text-align: center;
        padding: 5px;
        margin: 0; }
#about .innerbox:after, #info .innerbox:after {
  content: "";
  display: block;
  clear: both; }

#search h3 {
  display: none; }
#search .search_window {
  margin: 0;
  padding: 0; }
  #search .search_window form {
    background-color: #eeeeee;
    width: 100%;
    padding: 3%;
    margin: 0;
    box-sizing: border-box; }
    #search .search_window form input {
      background-color: #eeeeee;
      width: 88%;
      margin: 0;
      padding: 0;
      border: none; }
    #search .search_window form button {
      width: 10%;
      border: none;
      margin: 0;
      padding: 0; }

#link h3 {
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding: 20px; }
  #link h3 div {
    color: #fff;
    background: url("../images/top/next_icon.png") no-repeat center right; }

#category h3 {
  padding: 20px; }
  #category h3 div {
    background: url("../images/top/next_icon.png") no-repeat center right; }
    #category h3 div img {
      width: 36%; }
#category .innerbox {
  padding: 0;
  margin: 0; }
  #category .innerbox ul {
    list-style: none;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0; }
    #category .innerbox ul li {
      border-bottom: 4px solid #f9f8f6;
      padding: 1.5em;
      margin: 0; }
    #category .innerbox ul li:last-child {
      border-bottom: none; }

#about h3 {
  padding: 20px; }
  #about h3 div {
    background: url("../images/top/next_icon.png") no-repeat center right; }
    #about h3 div img {
      width: 20%; }

#info h3 {
  padding: 20px; }
  #info h3 div {
    background: url("../images/top/next_icon.png") no-repeat center right; }
    #info h3 div img {
      width: 30%; }

/* ---- subnavi PC ---- */
@media (min-width: 550px) {
  #search, #link, #category, #about, #info {
    margin-bottom: 20px; }

  #about .innerbox, #info .innerbox {
    padding: 12px;
    margin: 0; }
    #about .innerbox figure, #info .innerbox figure {
      width: 100%; }
      #about .innerbox figure img, #info .innerbox figure img {
        width: 100%;
        float: none; }
    #about .innerbox .cap, #info .innerbox .cap {
      width: 100%;
      padding: 0;
      margin: 0 auto;
      font-size: 12px;
      font-size: 1.2rem;
      float: none; }
      #about .innerbox .cap p, #info .innerbox .cap p {
        margin-bottom: 10px; }
      #about .innerbox .cap p.more_btn, #info .innerbox .cap p.more_btn {
        width: 70%;
        font-size: 12px;
        font-size: 1.2rem;
        margin: 0 auto; }

  #search {
    padding: 20px; }
    #search h3 {
      display: block;
      background-color: #fff;
      margin-bottom: 10px; }
      #search h3 img {
        width: 87px;
        margin: 0;
        padding: 0; }
    #search .search_window {
      margin: 0 auto;
      padding: 0; }
      #search .search_window form {
        padding: 0 0 0 5px;
        margin: 0; }
        #search .search_window form input {
          background-color: #eeeeee;
          width: 80%;
          height: 20px;
          border: none;
          margin: 0;
          padding: 0; }
        #search .search_window form button {
          width: 10%; }
          #search .search_window form button img {
            width: 16px;
            height: 16px; }

  #link h3 {
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    font-weight: bold; }

  #category h3 div img {
    width: 85px; }
  #category .innerbox {
    padding: 0; }
    #category .innerbox ul {
      list-style: none;
      font-size: 12px;
      font-size: 1.2rem;
      letter-spacing: 0.1em;
      margin: 0; }
      #category .innerbox ul li {
        border-bottom: 2px solid #f9f8f6;
        padding: 1em 1.5em; }
      #category .innerbox ul li:last-child {
        border-bottom: none; }

  #about h3 div img {
    width: 45px; }

  #info h3 div img {
    width: 75px; } }
/* ---- subnavi PC ---- */
/* ---------------- subnavi ---------------- */
/* ---------------- pagetop ---------------- */
.pagetop {
  margin: 40px auto;
  text-align: center; }
  .pagetop img {
    width: 40%; }
  @media (min-width: 550px) {
    .pagetop {
      margin: 40px auto;
      text-align: right; }
      .pagetop img {
        width: 80px;
        margin: 0;
        padding: 0; } }

/* ---------------- pagetop ---------------- */
/* ----------------- footer ---------------- */
.footer_link {
  border-top: 1px solid #9f9785;
  padding-top: 40px; }
  .footer_link ul {
    list-style: none;
    text-align: center;
    margin: 0; }
    .footer_link ul li {
      font-size: 11px;
      font-size: 1.1rem;
      display: inline-block; }
  .footer_link .copyright {
    font-size: 10px;
    font-size: 1rem;
    color: #b8b4ac;
    text-align: center;
    padding: 0 0 40px;
    margin: 0; }
  @media (min-width: 550px) {
    .footer_link ul li {
      font-size: 12px;
      font-size: 1.2rem;
      display: inline-block; } }

/* ----------------- footer ---------------- */
/* ----------------- list item ---------------- */
#list_item h2#list_h2_pc {
  display: none; }
#list_item .flexbox .item_inner {
  width: 49.6%;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 4px; }
  #list_item .flexbox .item_inner .post p {
    padding-top: 1.6rem;
    font-size: 12px;
    font-size: 1.2rem;
    margin: 0; }
    #list_item .flexbox .item_inner .post p span {
      display: block;
      padding: 1em 0 0; }

@media (min-width: 550px) {
  #list_item h2#list_h2_sp {
    display: none; }
  #list_item h2#list_h2_pc {
    display: block; }
  #list_item .flexbox .item_inner {
    width: 32.9%;
    margin-bottom: 5px; }
    #list_item .flexbox .item_inner .post p span {
      padding: 2rem 0 0; } }
/* ----------------- list item ---------------- */
/* ----------------- product ---------------- */
@media (max-width: 550px) {
  #product .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; }
  #product .breadthumb {
    margin: 0 3%; }
  #product #recent_item, #product #shopping_guide, #product .subnavi {
    padding: 0 3%; } }
#product #product_item {
  background-color: #fff;
  padding: 3%; }
  #product #product_item .product_name {
    padding: 0 0 16px;
    margin-bottom: 10px;
    border-bottom: 2px solid #e3e8cf; }
    #product #product_item .product_name dt {
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: bold;
      letter-spacing: 0.2em;
      margin-bottom: 5px; }
    #product #product_item .product_name dd {
      font-size: 12px;
      font-size: 1.2rem;
      text-align: left;
      margin: 0;
      color: #a6a6a6; }
  #product #product_item #product_ph {
    width: 100%; }
  #product #product_item #product_thumb {
    margin-top: 20px;
    padding: 0; }
    #product #product_item #product_thumb p {
      padding: 0;
      margin: 0 0 1.5% 0;
      width: 19%;
      height: auto;
      display: inline-block;
      cursor: pointer; }
  #product #product_item .spec {
    margin: 20px 0;
    border-top: 2px solid #e3e8cf; }
    #product #product_item .spec .spec01 {
      list-style: none;
      margin: 0;
      padding: 0; }
      #product #product_item .spec .spec01 dt, #product #product_item .spec .spec01 dd {
        margin: 0;
        padding: 15px 0 0; }
      #product #product_item .spec .spec01 dt img {
        width: 30%; }
    #product #product_item .spec .spec02 {
      border-bottom: 2px solid #e3e8cf; }
      #product #product_item .spec .spec02 dl {
        list-style: none;
        border-top: 2px solid #e3e8cf;
        margin: 0;
        padding: 0; }
        #product #product_item .spec .spec02 dl dt, #product #product_item .spec .spec02 dl dd {
          margin: 0;
          padding: 15px 0;
          display: inline-block; }
        #product #product_item .spec .spec02 dl dt.price {
          width: 30%; }
          #product #product_item .spec .spec02 dl dt.price img {
            width: 45%; }
        #product #product_item .spec .spec02 dl dt.quantity {
          width: 30%; }
          #product #product_item .spec .spec02 dl dt.quantity img {
            width: 72%; }
        #product #product_item .spec .spec02 dl dd {
          width: 50%;
          padding-left: 30px;
          color: #e80f66;
          font-size: 22px;
          font-size: 2.2rem;
          font-style: italic; }
          #product #product_item .spec .spec02 dl dd span {
            color: #000;
            font-size: 14px;
            font-size: 1.4rem; }
    #product #product_item .spec .cart_area {
      margin-top: 20px; }
      #product #product_item .spec .cart_area .cart_btn {
        text-align: center;
        font-size: 1rem; }
        #product #product_item .spec .cart_area .cart_btn a {
          width: 60%;
          display: block;
          background-color: #887f69;
          margin: 0 auto;
          padding: 20px 5px; }
          #product #product_item .spec .cart_area .cart_btn a img {
            width: 70%; }
  #product #product_item .spec_table {
    width: 100%;
    border: 2px solid #e3e8cf;
    color: #887f69;
    font-size: 12px;
    font-size: 1.2rem; }
    #product #product_item .spec_table tr th, #product #product_item .spec_table tr td {
      padding: 12px 15px;
      text-align: center;
      vertical-align: center;
      border: 2px solid #e3e8cf;
      background-color: #f9f9f5; }
    #product #product_item .spec_table tr td {
      background-color: #fff; }
      #product #product_item .spec_table tr td input {
        margin: 0;
        padding: 0;
        border: 1px solid #ccc;
        border-radius: 0;
        box-shadow: none; }
  #product #product_item .product_info {
    padding-top: 40px; }
    #product #product_item .product_info h3 {
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: bold;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #887f69;
      color: #887f69; }
    #product #product_item .product_info p.emphasis {
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: bold;
      color: #887f69;
      margin-bottom: 20px; }
    #product #product_item .product_info p {
      font-size: 14px;
      font-size: 1.4rem;
      margin-bottom: 20px; }
    #product #product_item .product_info table th {
      font-weight: normal; }

/* --------- product PC --------- */
@media (min-width: 550px) {
  #product #product_item {
    padding: 3% 10% 10%; }
    #product #product_item .product_name {
      padding: 0 0 16px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e3e8cf; }
      #product #product_item .product_name dt {
        width: 85%;
        font-size: 14px;
        font-size: 1.4rem;
        margin-bottom: 5px;
        display: inline-block; }
      #product #product_item .product_name dd {
        width: 10%;
        font-size: 11px;
        font-size: 1.1rem;
        display: inline-block; }
    #product #product_item #product_ph {
      width: 74%; }
    #product #product_item #product_thumb {
      width: 24%;
      margin: 0; }
      #product #product_item #product_thumb p {
        margin-bottom: 10px;
        width: 46%;
        height: auto; }
    #product #product_item .spec {
      border-top: 1px solid #e3e8cf;
      border-bottom: 1px solid #e3e8cf; }
      #product #product_item .spec .spec01 dt {
        width: 30%; }
        #product #product_item .spec .spec01 dt img {
          width: 100px; }
      #product #product_item .spec .spec02 {
        width: 55%;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: none; }
        #product #product_item .spec .spec02 dl {
          border-top: 1px solid #e3e8cf; }
          #product #product_item .spec .spec02 dl dt, #product #product_item .spec .spec02 dl dd {
            margin: 0;
            padding: 15px 0;
            display: inline-block; }
          #product #product_item .spec .spec02 dl dt.price {
            width: 30%; }
            #product #product_item .spec .spec02 dl dt.price img {
              width: 44px; }
          #product #product_item .spec .spec02 dl dt.quantity {
            width: 30%; }
            #product #product_item .spec .spec02 dl dt.quantity img {
              width: 66px; }
          #product #product_item .spec .spec02 dl dd {
            width: 50%;
            padding-left: 30px;
            color: #e80f66;
            font-size: 22px;
            font-size: 2.2rem;
            font-style: italic; }
            #product #product_item .spec .spec02 dl dd span {
              color: #000;
              font-size: 14px;
              font-size: 1.4rem; }
      #product #product_item .spec .cart_area {
        width: 40%;
        float: right;
        margin-top: 0; }
        #product #product_item .spec .cart_area .cart_btn a {
          width: 100%;
          padding: 20px 5px;
          box-sizing: border-box; }
          #product #product_item .spec .cart_area .cart_btn a img {
            width: 70%; }
    #product #product_item .spec:after {
      content: "";
      clear: both;
      display: block; }
    #product #product_item .product_info {
      clear: both; }
    #product #product_item .spec_table {
      border: 1px solid #e3e8cf; }
      #product #product_item .spec_table tr th, #product #product_item .spec_table tr td {
        padding: 10px 15px;
        border: 1px solid #e3e8cf;
        background-color: #f9f9f5; }
      #product #product_item .spec_table tr td {
        background-color: #fff; } }
/* --------- product PC --------- */
/* ----------------- product ---------------- */

/*# sourceMappingURL=test.css.map */
